* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #121212;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main_logo {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}

.container_vertical {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: "Poppins";
  font-size: 30px;
  color: #fff;
}

h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #d4d4d4;
  margin-bottom: 20px;
}

p {
  max-width: 400px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #a3a3a3;
}
